<%- include('../partials/head') %>
<body>

    <%- include('../partials/nav', {pageName: "Edit Page"}) %>
    <div class="container my-2 py-2">
        <div class="jumbo jumbotron-fluid">
    <h1 class="text-center">Edit your Ogre here</h1>
    <form method="POST" action="/ems/<%= personToEdit._id %>?_method=PUT">
        <div>
            <label for="name">Update the Ogre's name</label>
            <input type="text" name="name" id="name" value=<%= personToEdit.name%>>
        </div>
        <div>
            <label for="image">Update the Ogre's image</label>
            <input type="text" name="image" id="image" value=<%= personToEdit.image %>>
        </div>
        <div>
            <label for="role">What is their role?</label>
            <input type="text" name="role" id="role" value=<%= personToEdit.role %>>
        </div>
        <input type="submit" value="Edit <%= personToEdit.name %>">
    </form>
    



</div>
<footer>
    <%- include('../partials/footer') %>
</footer>

</div>
</body>
</html>