<%- include('./partials/head') %>
<body>

    <%- include('./partials/nav', {pageName: "Edit Page"}) %>
    <div class="container">
        <div class="jumbo jumbotron-fluid">
    <h1>Edit your Ogre here</h1>
    <form method="POST" action="/musicians/<%= employee._id %>?_method=PUT">
        <div>
            <label for="name">Update the Ogre's name</label>
            <input type="text" name="name" id="name" value=<%= employee.name%>>
        </div>
        <div>
            <label for="image">Update the Ogre's image</label>
            <input type="text" name="image" id="image" value=<%= employee.image %>>
        </div>
        <div>
            <label for="instrument">What is their role?</label>
            <input type="text" name="role" id="role" value=<%= employee.instrument %>>
        </div>
        <input type="submit" value="Edit <%= employee.name %>">
    </form>
    



</div>
<footer>
    <%- include('./partials/footer') %>
</footer>

</div>
</body>
</html>