<%- include("../partials/head") %>


<%- include("../partials/nav") %>
<div class="container">
<h1>All Employees</h1>
<table class="table table-bordered my-3 py-3">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">First</th>
            <th scope="col">Role</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <% employees.forEach(emp =>{ %> 
        <tr>
            <th scope="row"><%= emp.employeeId%></th>
            <td>
             <img style="height: 10vh;" src=<%=emp.image %> alt=<%= emp.name %>>
              
            </td>
            <td><%= emp.name %></td>
            <td><%=emp.role %></td>
            <td><a class="btn btn-info" href="/musicians/<%= emp._id %>">Details</a></td>
        </tr>
        <% }) %>
    </tbody>
</table>

</div>



<%- include("../partials/footer") %>