<%- include('../partials/head', {pageName: employee.name}) %>
<body>
    <h1>Name: <%= employee.name %></h1>
    <img src="<%= employee.image %>" alt="Ogre image">
    <h3>Role: <%= employee.roll %></h3>
    

<%- include('../partials/footer') %>   
</body>
</html>